@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
  background-color: #c5e4e7;
  color: #375d5e;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body h1 {
  width: 80px;
  text-align: center;
  margin: 40px auto 40px auto;
  word-wrap: break-word;
}

body main {
  margin: 0px auto 0px auto;
  width: 330px;
  padding: 45px;
  background-color: white;
  border-radius: 20px 20px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[9];
  -ms-grid-columns: 1fr 1fr;
      grid-template: repeat(9, auto)/1fr 1fr;
  gap: 15px;
      grid-template-areas: "bill bill" "input input" "tip  tip" "five ten" "fifteen twentyfive" "fifty custom" "people people" "people-input people-input" "total total";
}

body main .error-border {
  border: 4px solid #e39080;
  background-color: purple;
}

body main .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background-color: #f3f8fb;
}

body main .input-container p {
  font-size: 25px;
  color: #0b4747;
}

body main .input-container input {
  border: none;
  height: 20px;
  width: 250px;
  font-size: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #0b4747;
  background-color: #f3f8fb;
  text-align: right;
}

body main .bill-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bill;
  font-weight: bold;
}

body main .select-tip {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tip;
}

body main .tip-button {
  display: block;
  background-color: #00474b;
  color: white;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  font-size: 25px;
  text-align: center;
  line-height: 2;
  border: none;
}

body main .tip-button:hover {
  background-color: #26c2ad;
}

body main .five {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: five;
}

body main .ten {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: ten;
}

body main .fifteen {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: fifteen;
}

body main .twentyfive {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: twentyfive;
}

body main .fifty {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: fifty;
}

body main .custom {
  display: block;
  background-color: #f3f8fb;
  color: #0b4747;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  font-size: 25px;
  text-align: center;
  line-height: 2;
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: custom;
  font-weight: bold;
  border: none;
}

body main .custom input::-webkit-outer-spin-button,
body main .custom input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body main .custom:hover {
  background-color: #26c2ad;
}

body main .number-of-people {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: people;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .number-of-people p {
  margin: 0;
}

body main #error-message {
  text-align: right;
  width: 150px;
  color: #e39080;
}

body main #people-input {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: people-input;
}

body main #bill-input-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: input;
}

body main .total {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: total;
  background-color: #00474b;
  color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}

body main .total p {
  word-wrap: break-word;
}

body main .reset-button {
  margin: 0 auto 0 auto;
  display: block;
  background-color: #26c2ad;
  color: #0b4747;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  font-size: 25px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  border: none;
}

body main .reset-button:hover {
  background-color: #9fe8df;
}

body main .tip-amount-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .tip-amount-section .tip-per-person {
  text-align: right;
  font-size: 25px;
  width: 60%;
  font-weight: bold;
  color: #26c2ad;
  margin: 0 0 20px 0;
}

body main .tip-amount-section .tip-amount-text {
  margin: 0 40px 0 0;
  width: 90px;
}

.person-text {
  font-size: 12px;
}

.hidden-element {
  display: none;
}
/*# sourceMappingURL=index.css.map */